@import 'mixins';

.syn-button {
  font-family: $font-family-bold;
  transition: box-shadow 0.2s ease-out, background-color 0.2s ease,
    border-color 0.2s ease;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  -webkit-appearance: button;
  position: relative;
  height: $click-area;
  padding: 0 1.5rem;
  border-radius: $border-radius;
  background-color: $black;
  border: 1px solid transparent;
  color: $white;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: $font-bold;
  line-height: 1;
  min-height: 0;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &:hover {
    box-shadow: 0 0 0 5px rgba(var(--syn-color-primary-rgb), 0.5);
  }

  &.syn-button-block {
    display: block;
    width: 100%;
  }

  &.syn-button-primary {
    background-color: $primary;
  }
}
