@use 'variables' as *;

.text-discreet {
  color: #a3afbf;
}

.text-small {
  font-size: 0.8rem;

  @media (max-width: $breakpoint-medium) {
    font-size: 1rem;
  }
}

.text-large {
  font-size: 1.2rem;
}

.text-bold {
  font-weight: var(--font-weight-bold);
}

.hidden-responsive {
  @media (max-width: $breakpoint-medium) {
    display: none;
  }
}

.line-height-1 {
  line-height: 1 !important;
}

.line-height-12 {
  line-height: 1.2 !important;
}