html,
body {
  overflow-x: hidden;
}

html,
body,
.splide,
.splide__slide,
.splide__slide > div {
  height: 100vh;
  -webkit-overflow-scrolling: touch;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: black;
  -webkit-transform: translate3d(0, 0, 0);
}

.splide .splide__slide > div {
  pointer-events: none;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;
}
.splide .splide__slide > div::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.splide .splide__slide > div span {
  position: relative;
  z-index: 1;
  font-size: 2rem;
  font-family: "Wargr", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  max-width: 320px;
  text-align: center;
  line-height: 1.2;
  color: #ffffff;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
}
