:root {
  --syn-grid-gap: 1rem;
  --syn-grid-gap-half: 0.5rem;
}

.syn-grid {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 calc(var(--syn-grid-gap-half) * -1);
  width: calc(100% + var(--syn-grid-gap));

  @media (max-width: $breakpoint-small) {
    flex-flow: column nowrap;
  }

  &.syn-grid-gap-large {
    --syn-grid-gap: 3rem;
    --syn-grid-gap-half: 1.5rem;
  }

  &.syn-grid-gap-small {
    --syn-grid-gap: 0.5rem;
    --syn-grid-gap-half: 0.25rem;
  }

  &.syn-grid-gap-none {
    --syn-grid-gap: 0;
    --syn-grid-gap-half: 0;
  }

  .syn-grid-cell {
    flex: 1 1 auto;
    min-width: min-content;
    color: inherit;
    vertical-align: baseline;
    margin: 0 var(--syn-grid-gap-half);
    padding: 1rem;
    max-width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: $breakpoint-small) {
      min-width: calc(100% - var(--syn-grid-gap));
    }

    &.syn-grid-cell-third {
      flex: 1 1 33.333333%;
      min-width: 33.33333333%;
      max-width: 33.33333333%;

      @media (max-width: $breakpoint-small) {
        min-width: min-content;
        max-width: 100%;
        flex-basis: 100%;
      }
    }
  }

  &.syn-grid-middle {
    align-items: center;
  }

  &.syn-grid-unresponsive {
    flex-flow: row nowrap;

    .syn-grid-cell {
      min-width: min-content;
    }
  }

  &.syn-grid-stretch {
    align-items: stretch;
  }
}

// DEMO

.syn-grid {
  outline: 1px dashed rgba(black, 0.1);
  background-color: $gray1;

  .syn-grid-cell {
    outline: 1px dashed rgba(black, 0.1);
    background-color: $white;
  }
}
