@mixin barberpole($time: 1s) {
  background-size: 30px 30px;
  background-image: linear-gradient(
    45deg,
    rgba(black, 0.06) 25%,
    transparent 25%,
    transparent 50%,
    rgba(black, 0.06) 50%,
    rgba(black, 0.06) 75%,
    transparent 75%,
    transparent
  );
  animation: barberpole $time linear infinite;

  @keyframes barberpole {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 60px 30px;
    }
  }
}

@mixin shake {
  animation: shake 0.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;

  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
      transform: translate3d(-3px, 0, 0);
    }

    40%,
    60% {
      transform: translate3d(3px, 0, 0);
    }
  }
}

@mixin fadeIn($time: 0.3s, $delay: 0s) {
  opacity: 0;
  animation: fadeIn $time $delay ease-out forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

@mixin scaleIn($time: 0.2s, $delay: 0.2s) {
  transform: scale(0) translate(-50%, -50%);
  transform-origin: 0 0;
  animation: scaleIn $time $delay cubic-bezier(0.01, 0.72, 0.09, 1.18) forwards;

  @keyframes scaleIn {
    0% {
      transform: scale(0) translate(-50%, -50%);
    }

    100% {
      transform: scale(1) translate(-50%, -50%);
    }
  }
}

@mixin link-underline() {
  position: relative;
  transition: color 0.3s ease;

  &:hover {
    &::after {
      animation: link-underline 0.5s ease forwards;
    }
  }

  &::after {
    transition: background-color 0.3s ease;
    content: '';
    position: absolute;
    height: 2px;
    bottom: -2px;
    left: 0;
    right: 0;
    border-radius: 100px;
  }

  @keyframes link-underline {
    0% {
      left: 0;
      right: 0;
    }
    50% {
      left: 100%;
      right: 0;
    }
    51% {
      left: 0;
      right: 100%;
    }
    100% {
      left: 0;
      right: 0;
    }
  }
}
