@import 'variables';
@import 'mixins';

html,
body {
  height: 100%;
  overflow: hidden;
}

.splide {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  .splide__track,
  .splide__list {
    height: 100%;
  }

  .splide__slide {
    & > div {
      background: black;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-position: center center;

      span {
        font-size: 2rem;
        font-family: $font-family;
        font-weight: $font-bold;
        max-width: 320px;
        text-align: center;
        line-height: 1.2;
        color: $white;
      }
    }
  }
}
