@import 'variables';
@import 'mixins';

html,
body {
  overflow: hidden;
}

.splide {
  .splide__slide {
    & > div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: black;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-position: center center;

      span {
        font-size: 2rem;
        font-family: $font-family;
        font-weight: $font-bold;
        max-width: 320px;
        text-align: center;
        line-height: 1.2;
        color: $white;
      }
    }
  }
}
