html,
body,
.splide,
.splide__slide,
.splide__slide > div {
  height: 100vh;
  -webkit-overflow-scrolling: touch;
}

.splide .splide__slide > div {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;
}
.splide .splide__slide > div span {
  font-size: 2rem;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  max-width: 320px;
  text-align: center;
  line-height: 1.2;
  color: #ffffff;
}
