html,
body {
  overflow: hidden;
}

.splide .splide__slide > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;
}
.splide .splide__slide > div span {
  font-size: 2rem;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  max-width: 320px;
  text-align: center;
  line-height: 1.2;
  color: #ffffff;
}
