@import 'variables';
@import 'mixins';

html,
body,
.splide,
.splide__slide,
.splide__slide > div {
  height: 100vh;
  //   -webkit-overflow-scrolling: touch;
  //   -webkit-perspective: 1000;
  //   -webkit-backface-visibility: hidden;
}

.splide {
  .splide__slide {
    & > div {
      background: black;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-position: center center;

      span {
        font-size: 2rem;
        font-family: $font-family;
        font-weight: $font-bold;
        max-width: 320px;
        text-align: center;
        line-height: 1.2;
        color: $white;
      }
    }
  }
}
