@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
@font-face {
  font-family: 'WargrSans';
  src: url('/fonts/WargrSans-Regular.woff2') format('woff2'),
    url('/fonts/WargrSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'WargrSansBold';
  src: url('/fonts/WargrSans-Bold.woff2') format('woff2'),
    url('/fonts/WargrSans-Bold.woff') format('woff');
}

// @import 'variables';
@import '_variables.scss';
@import '_utilities.scss';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: $font-family;
  line-height: 1.8;
  // max-width: $page-max-width;
  // margin: 3rem auto;
  // display: flex;
  // justify-content: space-between;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  font-family: $font-family-headings;
}

nav {
  background-color: $white;
  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  height: $navigation-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  padding: 0 1rem;
  box-shadow: 0 -5px 15px rgba(black, 0.1);

  a {
    display: block;
    font-size: 1.25rem;
    color: $black;
    text-decoration: none;
    font-weight: $font-bold;
    margin-bottom: 1rem;
    padding: 0.5rem 0;
  }

  img {
    max-height: 48px;
  }

  #hamburger-button {
    width: $hamburger-size;
    height: $hamburger-size;
    position: relative;
    z-index: 3;

    input {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      cursor: pointer;
      opacity: 0;
      z-index: 1;
      -webkit-touch-callout: none;

      &:checked {
        & ~ #menu-cover {
          opacity: 1;
        }

        & ~ .hamburger-icon > span {
          opacity: 0;

          &:first-child {
            transform: rotate(-45deg);
            opacity: 1;
          }
          &:last-child {
            transform: rotate(45deg);
            opacity: 1;
          }
        }

        & ~ #menu {
          transform: translateX(0%);
        }
      }
    }

    .hamburger-icon {
      height: 100%;
      width: 100%;

      span {
        position: absolute;
        transform-origin: center center;
        transition: all 0.3s;
        background-color: $black;
        height: 3px;
        width: 100%;
        border-radius: 300px;
        top: calc(50% - 2px);

        &:first-child {
          background: $black;
          top: 2px;
          transform-origin: center right;
        }

        &:last-child {
          background: $black;
          top: auto;
          bottom: 3px;
          transform-origin: center right;
        }
      }
    }
  }

  #menu-cover {
    position: fixed;
    transition: opacity 0.3s ease;
    opacity: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(black, 0.8);
    z-index: -2;
    pointer-events: none;
  }

  #menu {
    transition: all 0.3s ease;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-end;
    justify-content: flex-end;
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    width: 90vw;
    bottom: 0;
    background-color: $white;
    transform: translateX(100%);
    margin: 0;
    padding: 2rem 2rem $navigation-height 2rem;
    list-style: none;

    li {
      margin: 0;
      padding: 0;
    }
  }
}

main {
  max-width: $page-max-width;
  margin: 0 auto;
  padding: 0;
  margin-bottom: calc(#{$navigation-height} + 2rem);

  section {
    position: relative;

    &.padding {
      padding: 1rem;

      img {
        width: calc(100% + 2rem);
        margin-left: -1rem;
        margin-right: -1rem;
        max-width: calc(100% + 2rem);
      }
    }

    img {
      max-width: 100%;
      display: block;

      & + h1 {
        font-family: $font-family;
        text-transform: uppercase;
        position: absolute;
        top: -1px;
        font-style: normal;
        right: -1px;
        display: inline-block;
        background-color: $white;
        color: $black;
        font-size: $font-size-small;
        padding: 1rem;
        line-height: 1;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
      }
    }

    article {
      position: relative;
      max-width: 100%;
      background-color: $white;
      line-height: 1.75;
      margin: 0 0 4rem 1rem;
      padding: 1rem 1rem 0 1rem;
      margin-top: -3rem;
      min-height: 5rem;
    }
  }
}

pre {
  margin: 0;
  font-family: $font-family;
  font-weight: $font-bold;
  font-size: 0.8rem;
  color: $primary;
}

.video {
  position: relative;
  padding: 0 0 56.25% 0;
  height: 0;
  overflow: hidden;
  max-width: calc(100% + 2rem);
  margin: 0 -1rem;
  top: 0;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
