@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
@font-face {
  font-family: 'WargrSans';
  src: url('/fonts/WargrSans-Regular.woff2') format('woff2'),
    url('/fonts/WargrSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'WargrSansBold';
  src: url('/fonts/WargrSans-Bold.woff2') format('woff2'),
    url('/fonts/WargrSans-Bold.woff') format('woff');
}

// @import 'variables';
@import '_variables.scss';
@import '_utilities.scss';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: $font-family;
  line-height: 1.6;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  font-family: $font-family-headings;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1 {
  letter-spacing: -0.02rem;
}

strong {
  font-weight: 700;
}

p,
strong,
a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

p {
  margin: 0 0 2rem 0;
}

hr {
  width: 100%;
  border: none;
  height: 1px;
  color: rgba(black, 0.08);
  background-color: rgba(black, 0.08);
}

nav {
  background-color: $white;
  border-bottom: $line;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $navigation-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  padding: 0 1rem;
  text-rendering: optimizeLegibility;

  a {
    position: relative;
    display: inline-block;
    font-size: 1.25rem;
    color: $black;
    text-decoration: none;
    font-weight: $font-bold;
    padding: 0.5rem 0;
    width: min-content;

    &::after {
      transition: width 0.3s ease-out;
      content: '';
      position: absolute;
      height: 2px;
      bottom: 6px;
      background-color: $black;
      width: 0;
    }

    &.hidden-link {
      font-size: 1rem;
      width: 100%;
      padding: 0;
      font-weight: $font-regular;

      &::after {
        display: none;
      }
    }

    @media (min-width: $breakpoint-medium) {
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  .logo {
    transition: opacity 0.3s ease;
    font-size: 0;

    &::after {
      display: none;
    }

    &:hover {
      opacity: 0.8;
    }

    img {
      max-height: 38px;
      transform: translate3d(0px, 0, 0px) scale(1) !important; // Disable parallax
    }
  }

  #hamburger-button {
    width: $hamburger-size;
    height: $hamburger-size;
    position: relative;
    z-index: 3;

    @media (min-width: $breakpoint-medium) {
      &:hover {
        .hamburger-icon {
          span {
            &:first-child {
              top: 1px;
            }

            &:last-child {
              bottom: 3px;
            }
          }
        }
      }
    }

    input {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      cursor: pointer;
      opacity: 0;
      z-index: 1;
      -webkit-touch-callout: none;

      &:checked {
        & ~ #menu-cover {
          opacity: 1;
        }

        & ~ .hamburger-icon > span {
          opacity: 0;

          &:first-child {
            transform: rotate(-45deg);
            opacity: 1;
            top: 2px;
          }
          &:last-child {
            transform: rotate(45deg);
            opacity: 1;
          }
        }

        & ~ #menu {
          transform: translateX(0%);
          box-shadow: 3px 0 20px 10px rgba(black, 0.1);
        }
      }
    }

    .hamburger-icon {
      height: 100%;
      width: 100%;

      span {
        position: absolute;
        transform-origin: center center;
        transition: all 0.3s;
        background-color: $black;
        height: 2px;
        width: 100%;
        border-radius: 300px;
        top: calc(50% - 2px);

        &:first-child {
          background: $black;
          top: 3px;
          transform-origin: center right;

          @media (max-width: $breakpoint-small) {
            top: 1px;
          }
        }

        &:last-child {
          background: $black;
          top: auto;
          bottom: 5px;
          transform-origin: center right;

          @media (max-width: $breakpoint-small) {
            bottom: 3px;
          }
        }
      }
    }
  }

  #menu-cover {
    position: fixed;
    transition: opacity 0.3s ease;
    opacity: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(white, 0.5);
    z-index: -2;
    pointer-events: none;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }

  #menu {
    transition: all 0.3s ease;
    box-shadow: 0 0 0 0 rgba(black, 0);
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    width: 380px;
    bottom: 0;
    background-color: $white;
    transform: translateX(100%);
    margin: 0;
    padding: 2rem 2rem $navigation-height 2rem;
    list-style: none;

    @media (max-width: $breakpoint-medium) {
      width: 90vw;
    }

    li {
      margin: 0;
      padding: 0;
    }
  }
}

main {
  max-width: $page-max-width;
  margin: 0 auto;
  padding: 0;
  margin-top: $navigation-height;

  section {
    position: relative;
    padding: 0 1rem;

    .simpleParallax {
      @media (max-width: $breakpoint-medium) {
        width: calc(100% + 2rem);
        margin-left: -1rem;
        margin-right: -1rem;
        max-width: calc(100% + 2rem);
      }

      & + h1 {
        font-family: $font-family;
        text-transform: uppercase;
        position: absolute;
        top: -1px;
        font-style: normal;
        right: -1px;
        display: inline-block;
        background-color: $white;
        color: $black;
        font-size: $font-size-small;
        padding: 1rem;
        line-height: 1;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
      }
    }

    img {
      max-width: 100%;
      display: block;
    }

    article {
      position: relative;
      max-width: 100%;
      background-color: $white;
      line-height: 1.75;
      margin: 0 0 4rem 8rem;
      padding: 2rem;
      margin-top: -6rem;
      min-height: 5rem;

      @media (max-width: $breakpoint-medium) {
        padding: 1rem;
        margin-left: 0;
        margin-top: -3rem;
      }
    }
  }
}

pre {
  position: relative;
  display: inline-block;
  margin: 0;
  font-family: $font-family;
  font-weight: $font-bold;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: $black;
  line-height: 1;
}

.video {
  position: relative;
  padding: 0 0 calc(56.25% + 1rem) 0;
  height: 0;
  overflow: hidden;
  max-width: calc(100% + 2rem);
  margin: 0 -1rem;
  top: 0;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#resume {
  h1 {
    padding-top: 1rem;
  }

  .date {
    position: relative;
    margin: 0;
    font-family: $font-family;
    font-weight: $font-bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: $gray4;
    line-height: 1;
    margin-bottom: 0.25rem;

    &:first-of-type::before {
      display: none;
    }

    &::before {
      content: '';
      background-color: $gray3;
      height: 1px;
      width: 16px;
      position: absolute;
      top: -1.25rem;
      left: 0;
    }
  }

  strong {
    display: block;
    margin-bottom: 0.5rem;
  }
}

#portfolio {
  h1 {
    padding-top: 1rem;
    margin-bottom: 0;
  }

  img {
    @media (max-width: $breakpoint-medium) {
      width: calc(100% + 2rem);
      margin-left: -1rem;
      margin-right: -1rem;
      max-width: calc(100% + 2rem);
    }
  }

  pre {
    margin-bottom: 1rem;
  }
}

.intro {
  animation: intro 1s 1.5s ease-out forwards;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  background-color: $white;

  & > div {
    animation: fade 0.5s 1.5s ease-out forwards;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }

  h1 {
    margin: 0;
  }

  @keyframes intro {
    from {
      top: 0;
    }
    to {
      top: 100%;
    }
  }

  @keyframes fade {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      pointer-events: none;
    }
  }
}
