@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import 'variables';
@import 'mixins';

html,
body {
  font-size: $font-size;
  font-family: $font-family;
  background-color: $white;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
strong,
p,
a {
  text-rendering: optimizeLegibility;
}

a {
  color: $primary;
  text-decoration: none;
  @include link-underline();

  &:after {
    background-color: $primary;
  }
}

* {
  box-sizing: border-box;
}

button,
.button {
  transition: box-shadow 0.2s ease-out, background-color 0.2s ease,
    border-color 0.2s ease;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  -webkit-appearance: button;
  font-family: $font-family;
  position: relative;
  height: $click-area;
  padding: 0 1.5rem;
  border-radius: $border-radius;
  background-color: $black;
  border: 1px solid transparent;
  color: $white;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: $font-bold;
  line-height: 1;
  min-height: 0;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &.small {
    font-size: $font-size-small;
    height: $click-area-small;
    padding: 0 1rem;

    &.icon {
      width: $click-area-small;
      padding: 0;
    }

    &.prepend {
      .prependIcon {
        margin-right: 0.5rem;
      }
    }

    &.append {
      .appendIcon {
        margin-left: 0.5rem;
      }
    }
  }

  &.icon {
    width: $click-area;
    padding: 0;
  }

  &.block {
    width: 100%;
    display: block;
  }

  &:hover,
  &:active {
    &:not(.disableHover) {
      background-color: $gray6;

      &.accent {
        box-shadow: 0 0 0 5px rgba($accent, 0.25);
        background-color: lighten($accent, 2%);
      }

      &.secondary {
        box-shadow: 0 0 0 5px rgba($secondary, 0.25);
        background-color: lighten($secondary, 2%);
      }

      &.danger {
        box-shadow: 0 0 0 5px rgba($danger, 0.25);
        background-color: lighten($danger, 2%);
      }
    }

    &.outline {
      color: $primary;
    }

    &.semi {
      background-color: rgba(white, 0.15);
    }

    &.prepend,
    &.append {
      .appendIcon:global(.iconArrowRight) {
        transform: translateX(5px);
      }

      .prependIcon:global(.iconArrowLeft) {
        transform: translateX(-5px);
      }
    }
  }

  &.prepend,
  &.append {
    .prependIcon,
    .appendIcon {
      transition: transform 0.2s ease-out;
      font-size: $font-size-small;
      width: 1rem;
    }
  }

  &.prepend {
    .prependIcon {
      margin-right: 1rem;
    }
  }

  &.prepend {
    .prependIcon {
      &:global(.iconCheck) {
        animation: inWithCheck 0.3s ease forwards;

        @keyframes inWithCheck {
          0% {
            transform: translateY(#{$click-area});
          }

          100% {
            transform: translateY(0);
          }
        }
      }
    }
  }

  &.append {
    .appendIcon {
      margin-left: 1rem;
    }
  }

  &.loading {
    @include barberpole();
  }

  &.rounded {
    border-radius: 100px;
  }

  &.primary {
    background-color: $primary;
    border-color: $primary;
  }

  &.secondary {
    background-color: $secondary;
    border-color: $secondary;
  }

  &.tertiary {
    background-color: $tertiary;
    border-color: $tertiary;
  }

  &.contrast {
    background-color: $contrast;
    border-color: $contrast;
  }

  &.accent {
    background-color: $accent;
    border-color: $accent;
  }

  &.secondary {
    background-color: $secondary;
    border-color: $secondary;
    color: $contrast;
  }

  &.danger {
    background-color: $danger;
    border-color: $danger;
  }

  &.outline {
    border: $line;
    background-color: $white;
    color: $black;
  }

  &.semi {
    background-color: rgba($white, 0.1);
    color: $white;
  }
}

@for $i from 0 to 5 {
  .mt-#{$i} {
    margin-top: $i + rem !important;
  }
  .mr-#{$i} {
    margin-right: $i + rem !important;
  }
  .mb-#{$i} {
    margin-bottom: $i + rem !important;
  }
  .ml-#{$i} {
    margin-left: $i + rem !important;
  }
  .pt-#{$i} {
    padding-top: $i + rem !important;
  }
  .pr-#{$i} {
    padding-right: $i + rem !important;
  }
  .pb-#{$i} {
    padding-bottom: $i + rem !important;
  }
  .pl-#{$i} {
    padding-left: $i + rem !important;
  }
}

.text-small {
  font-size: $font-size-small;
}
