$black: #3e4a5e;
$gray-6: #4d5b73;
$gray-5: #778396;
$gray-4: #a3afbf;
$gray-3: #d3d9e0;
$gray-2: #e6eaf0;
$gray-1: #eff1f4;
$white: #fff;

$yellow: #ffcf45;

html,
body {
  font-size: 15px;
  font-family: "DM Sans", Helvetica, sans-serif;
  background-color: $white;
  color: $black;
  line-height: 1.5;
}

ul {
  margin: 0 0 1rem 0;
  padding: 0 0 0 1.4rem;

  li {
    margin-bottom: 1rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 0;
}

h1 {
  font-size: 1.5rem;
  letter-spacing: -0.05rem;
  font-weight: bolder;
}

body {
  padding: 1rem;
}

section {
  padding-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -1rem 1rem -1rem;

  & > div {
    position: relative;
    background-color: rgba(black, 0.2);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;
    padding: 1rem;
    flex: 0 0 calc(50% - 1rem);
    margin: 0.5rem;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    border-radius: 5px;

    &::after {
      border-radius: 5px;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(black, 0.4);
      content: "";
    }

    i.material-icons {
      position: relative;
      z-index: 1;
      color: $yellow;
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }

    span {
      display: block;
      position: relative;
      z-index: 1;
      font-size: 1.1rem;
      text-shadow: 1px 1px 2px rgba(black, 0.5);
      margin: 0;
      line-height: 1.5;
    }

    p {
      margin-bottom: 0;
      color: rgba(white, 0.7);
    }
  }
}

* {
  box-sizing: border-box;
}

nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  background-color: $white;
  justify-content: space-between;
  color: $gray-4;

  a {
    transition: color 0.3s ease;

    &.active {
      color: $black;
    }
  }
}
